:root{

    /* couleurs définies */
    
    --title-font: "calson";
      
    --text-font: "Futura";
      
    --primary-color: #831B17;   
    
    --secondary-color:  #F0D584;
    
    --light: #F0D584;
    
    --dark: #831B17;
    
    --bannerColor: #282846;
    
    --bannerTextColor: #ffffff;
    
    /* partie non faite */
    
    --spacing: 8px;
    
    --spacing-2: calc(var(--spacing) * 2);
    
    --spacing-4: calc(var(--spacing) * 4);
    
    --text-font-size: 16pt;
    
    --title-font-size: 24pt;
    
    }
    

    
    body {
    
      margin: 0;
    
      font-family: var(--main-font);
    
    }
    
    .container {
    
      width: calc(100% - var(--spacing-4));
    
      max-width:800px;
    
      margin:auto;
    
    }


    .myWorkExperience
    {
      background-color: var( --primary-color);

    }
    


       /* Affichage reposnisive Joel pour la partie Experience */
@media screen and (min-width: 900px) {
  .flexBoxContainerExperiences
        {
          display:flex;
          flex-direction: row;
          justify-content:space-around;
        }
}
@media  screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles pour cette Media Queries */
  .flexBoxContainerExperiences
      {
        display:flexbox;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
      }
  }

    .myWorkExperience h2, h3
    {
      text-align: center;
      color: var(--light);
      font-size: var(--title-font-size);
      font-family: var(--title-font);
    }


    .myWorkExperience figcaption
    {
      color: var(--light);
      font-size: var(---text-font-size);
      font-family: var(--title-font);
    }
.conteneurRubriqueExperience
{
  text-align: center;
}
    .flexBoxContainerExperiences .experience{

      height: 100%;
      width:100;
      }
   


    
    h1 {
    
      font-size: var(--title-font-size);
      font-family: var(--title-font);
    }


    
    
    p {
      font-size:var(--text-font-size);
    }