:root{

  /* couleurs définies */
  
  --title-font: "calson";
    
  --text-font: "futura round";
    
  --primary-color: #831B17;   
  
  --secondary-color:  #F0D584;
  
  --light: #F0D584;
  
  --dark: #831B17;
  
  --bannerColor: #282846;
  
  --bannerTextColor: #ffffff;
      
  /* partie non faite */
  
  --spacing: 8px;
  
  --spacing-2: calc(var(--spacing) * 2);
  
  --spacing-4: calc(var(--spacing) * 4);
  
  --text-font-size: 16pt;
  
  --title-font-size: 24pt;
  
  }
  
 /* test commentaires */
 
  body {
  
    margin: 0;
  
    font-family: var(--main-font);
  
  }
  
  .container {
  
    width: calc(100% - var(--spacing-4));
  
    max-width:800px;
  
    margin:auto;
  
  }
  
  
  h1 {
  
    font-size: var(--title-font-size);
  
    font-family: var(--title-font);
  
  }
  
  
  p {
  
    font-size:var(--text-font-size);
  
  }
  
  #assets {
    background-color:  var(--dark);
    color: var(--light);
  }
  
  .weapons {
    display: flex;
    color: var(--light);
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .weapon {
    width:350px;
    display: flex;
    align-items: center;
  }

  .weapon-text {
    text-align: left;
  }

  .weapon img {
    object-fit: cover;
    object-position: top;
    width:200px;
    height:120px;
  }
 
